header .container {
	font-family: 'Liberator Light', Vivaldi;
	color: blue;
	padding: 1px;
	text-align: center;
	font-size: 48px;

}

.container {
	margin: 0px auto;
	width: 100%;


}

div {
	overflow: hidden;
}

body {
	margin: 0;
	padding-bottom: 0;
	background-color: #ebebeb;

}

h1 {
	position: relative;
}

h2 {
	text-align: center;
	font-weight: bold;
	color: #7d4133;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #7d4133;
}

p {
	font-size: 18px;
}

a:hover {
	color: #1e481e;
}



img {
	height: 500px;
	width: 100%;
	display: block;
	overflow: hidden;
	
}

#logo {
	height: 250px;
}

#logo1 {
	height: 124px;
	width: 124px;
	display: inline;

}

.menu {
	display: table;
	padding: 0px;
	width: 100%;
}

.back {
	border: 3px solid black;
	padding: 4px;
	margin: 10px auto 10px auto;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #7d4133;
	font-family: 'Liberator-Light','Open-sans', sans-serif;
	font-size: 1.4em;
	display: table-cell;
	vertical-align: middle;
	width: 25%;

}


iframe {
	float: right;
	border: 10px solid black;
}

#headline {
	max-width:50px;
	font-family: 'Liberator';
	text-transform: uppercase;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	display: table-row;
	vertical-align: middle;
	font-size: 34px;
	text-align: center;
	
}

.headspace {
	margin: 15px;
}
div span {
	max-width:50px;
	font-family: 'Liberator Light';
	text-transform: uppercase;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: auto;

	
}

.father {
	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: table;
	padding: 10px;
	border: none;

}

.social {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

.btn {
	max-height: 50px;
	max-width: 50px;
	margin-left: auto;
	margin-right: auto;
	display: inline;

	
}


.row {
	width: 100%;
	height: auto;
	float: auto;
	border: 1px solid #ae2404;
	border-right: none;
	border-left: none;
	margin: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: table;
}
	

.col {
	text-transform: uppercase;
	text-align: center;
	width: 33.3%;
	float: auto;
	display: table-cell;
	vertical-align: middle;
}

strong {
	font-weight: bold;
}

header img {
	float: auto;
	max-width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.cocktails {
	width: 100%;
	
}

.menu1 {
	width: 50%;
	float: left;

	
}

.menu2 {
	width: 50%;
	float: right;

}

.pics {
	background-color: #755d4c;
	padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
	color: #fff;
}

.footer {
	font-weight: bold;
	color: #7d4133;
	text-transform: uppercase;
	margin: 10px;
}
.row1 {
	width: 100%;
	height: auto;
	float: auto;
	border: 1px solid #ae2404;
	border-right: none;
	border-left: none;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
}

i :hover{
	color: red;
}

.fa-lg:hover {
	color: red;
	
}